<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/StyleIndex.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <a id="title" class="navbar-brand" href="/">TANIE JEDZENIE</a>
            <h4 style="float:right; padding-right:100px; padding-top:14px;">NAJWIĘKSZA BAZA Z JEDZENIEM W POLSCE</h4>
        </nav>
        <div id="menu">
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Tanie Jedzenie</a>
                    <ul class="nav navbar-nav" style="padding-left:50px;">
                        <li><a href="/food">Jedzenie</a></li>
                        <li><a href="/restaurants">Lokale</a></li>
                        <li><a href="/statistick">Statystyka</a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav" style="float:right; padding-right:50px;">
                    <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/about">O nas</a></li>
                    <li><a href="/contact">Kontakt</a></li>
                    <li style="padding-left:100px;"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
                </ul>
            </nav>
        </div>
        <br />
        <form class="form-horizontal" role="form" style="width: 60%; margin: 0 auto;" method="post" action="/sendmessage">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Imię i Nazwisko</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Twoje imię i nazwisko" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Wiadomość</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" name="message" placeholder="Maksymalnie 500 znaków"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="human" name="human" placeholder="Twoja odpowiedź">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Wyślij" class="btn btn-danger">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <! Will be used to display an alert to the user>
                </div>
            </div>
        </form>
    </div>
</body>
</html>